
*{
    font-family:'Actor',sans-serif;
}
body{
    overflow-x: hidden;
}
#body{
    background-color: rgb(230, 220, 220);
}
.header{
    background-image: url("../Images/moving\ 1.png");
    background-size:cover;
    background-image: auto;
    width: auto;
    height:800px;
}
.links {
    float: right;
}
.links > ul{
    display: flex;
    list-style: none;
    margin-right: 150px;
    color: white;
    
}
.links > ul li{
    margin: 25px;
    color: white;
}
.links >ul li a{
    padding: 5px;
    text-decoration: none;
    margin: 15px;
}
.bt{
  
    background-color: #FFAC12;
    color: black;
    padding: 3px;
}
#btn{
    color: #FFAC12;
    background-color: black;
}
.links >ul li a:hover{
    color: red;

}
#paragraph{
    padding-top: 90px;
    margin-left: 100px;
    width: 650px;
    font-size: 30px;
    font-weight: 700;
}
#paragraph h3{
    color:#FAFF00;
    font-size: 55px;
}
#paragraph p{
    color:white;
}

/* cut the hustle section */
.part2{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}




.part2 > #image img{
    width: 600px;
    height: auto;
}
.hustle{
    width: 500px;
    margin: 40px;
    padding-top: 90px;

}
.ln{
    border: none;
    border-top: 4px solid;
    color: #FFAC12;
    width: 230px;
    margin-left: 140px;}


.hustle h1{
    font-size: 30px;
    font-style:bold;
}
.hustle button{
    padding: 12px 30px;
    background-color: black;
    color: #FAFF00;
    border-top-right-radius: 10px;
}
/* movers part */
.move{
    width: 100%;
    height: auto;
    background-color: rgb(231, 226, 226); 
}
.onetwo{
    justify-content: center;
    align-items: center;
}
.onetwo , h3{
    justify-content: center;
    padding-left: 25px;

}
.onetwo , i{
padding: 25px;

}
.onetwo #one{
    display: flex;
    margin: 150px;
    align-items: center;
}

.onetwo #two{
    display: flex;
    margin: 150px;

}
.onetwo img{
    width: 250px;
    height: auto;
}
#mg{
    margin: 20px;
    background-color: white;
    
}
#mg, h3 i{
    justify-content: center;
}
/* footer goes here */
footer{background-color: black;
    height: auto;
    padding: 60px;
    background-image:radial-gradient(rgb(245, 245, 128),1px,black);
    color: white;
    ;
}

footer > #soci{
    padding-left: 0;
    padding-top: 150px;
    
}

footer > h2> span{
    color:#FFAC12;
}
h2{
    padding-top: 50px;
    font-size: 40px;
}

#footlinks{
    display: flex;
    justify-content: center;
    margin-left: 150px;
}

#footlinks > ol, li{
    list-style: none;
    margin: 25px;
}
/* Property page css */
#bn{
    border-top-right-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    color: #FFAC12;
    
}
.head{
    background-color: #251e10;
}
#modeh{
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    margin: 100px;
    color: white;
}
/* modern houses begin */
.mdhouses{
    display: flex;
    margin: 40px;
}
.mdhouses, .pic , #form{
    justify-content: space-between;
    margin: 50px;
}
.mdhouses > .pic >img{
    width: 600px;
    height: auto;
}
.mdhouses , #external >img{
    width:81px;
}
.mdhouses , #external{
    width: 600px;
}
/* Details, Descriprion feature section begin */
.dedefe{
    margin: 90px;
    width: 600px;
    border-radius: 10px;
    padding: 20px;

}
.dedefe ,h4{
    padding: 10px;


}
.details{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 30px;
}
.details ,h4{
    padding:15px;

}
.details > .ico{
    margin: auto;
    border-top: rgb(92, 89, 89);
    
}
.details > .ico i{
    margin: 13px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.descript{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 30px;

}
.descript ,h4{
    padding: 15px;

}
.descript ,p{
    text-align: left;
    padding: 10px;

}

/* features starts here */
.feature{
    background-color: white;
    border-radius: 10px; 
}
.feature ,h4{
    padding: 15px;
}
.ls{
    display: flex;
}
.ls, .list1 ,.list2 , .list3{
    margin: 2px;
    font-size: small;
}

